@using SquishIt.Framework

<!-- Main body -->
<div id="MainDiv">
    <!-- inserted via template -->
    <h1>Hello world!</h1>
</div>

<!--############################## -->
<!--Templates -->
<!--############################## -->

<!-- General information template -->
<script id="General" type="text/html">
    
</script>

<!-- Banner template -->
<script id="BannerTemplate" type="text/html"> 
    
</script>

@section TodoAppScripts {
    @Html.Raw(Bundle
        .JavaScript()
        .Add("~/Scripts/TodoApp/app.js")
        
        .Render("~/Scripts/TodoApp#.js"))
}
